{{>partials/header}}

Opa, {{name}} você já tem {{age}} anos?
<hr />
<ul>
    {{#players}}
    <li>{{name}} - {{email}}</li>
    {{/players}}
</ul>
<hr />
<ul>
    {{#idades}}
    <li>{{name}} - Idade {{age}}</li>
    {{/idades}}
</ul>

{{>partials/footer}}